.footer-container{
    margin-top: auto;
}
.footer{
   background-color: white;
   padding: 30px;
   padding-top: 50px;
   text-align: left;
}
.logo{
    color: #1976D2;
}
.services ul{
  list-style:none ;
}
.services a{
   text-decoration: none;
   color: rgb(2, 5, 37);
}
.services li{
   transition: .3s letter-spacing;
}
.services a:hover{
   color: #1976D2 ;
}