.text h1{
    color: white;
}
.text h3{
    color: rgba(255, 255, 255, 0.938);
}
.text p{
    color: rgba(255, 255, 255, 0.795);
}
.banner{
    background-color: #1976D2;
    width: 100%;
    margin: 0%;
}